<div class="container-all">
    <div class="code-animation">
        <span class="bracket">{{'{"'}}</span>
        <span class="text">{{ animatedText }}</span>
        <span class="bracket">{{'"}'}}</span>
        <span class="bar-animation"></span>
    </div>

    <div class="profile-container">
      <div class="img-profile">
        <img src="../../assets/img/Foto-DSC_1337.PNG.png" alt="">
      </div>

      <div class="info-profile">
        <h2>JUAN SEBASTIAN GUERRA ALVAREZ</h2>
        <h5>Ingeniero en Sistemas</h5>
        <div class="icon-container">
          <div class="icon fa fa-whatsapp" (click)="showInfo(1)"></div>
          <div class="icon fa fa-envelope" (click)="showInfo(2)"></div>
          <div class="icon fa fa-linkedin" (click)="showInfo(3)"></div>
        </div>
    </div>

    <div class="popup-container">
      <div class="popup" *ngIf="isPopupVisible[0]">
        <p class="p">+57 {{ whatsappText }}</p>
        <button (click)="copyToClipboard(whatsappText)">Copiar</button>
        <button (click)="closePopup(1)">Cerrar</button>
      </div>
      <div class="popup" *ngIf="isPopupVisible[1]">
        <p class="p">{{ gmail }}</p>
        <button (click)="copyToClipboard(gmail)">Copiar</button>
        <button (click)="closePopup(2)">Cerrar</button>
      </div>
      <div class="popup" *ngIf="isPopupVisible[2]">
        <p class="p">Juan Sebastian Guerra</p>
        <button (click)="openLinkedInProfile()"><span>Ir a LinkedIn</span></button>
        <button (click)="closePopup(3)">Cerrar</button>
      </div>
    </div>
    <br>
</div>
