.menu {
    text-align: center;
    color:aliceblue ;
  }
  
  .centered-text {
    padding-top: 100px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 60px;
  }
  
  .vertical-cointainer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
   }

  .vertical-text {
  writing-mode: vertical-rl;
  text-align: center;
  }
  
  .code-animation {
    font-size: 50px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 25em;
    position: relative;
  }
  
  .bracket {
    color: yellow;
  }
  
  .text {
    color: white;
  }
  
  .bar-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: white;
    animation: expand-bar 1s linear infinite;
  }
  
  @keyframes expand-bar {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

.background-image {
  background-image: url('../../../assets/img/52594-programacion.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:inherit ;
  height: 300px;
}
  
  