<div class="menu">
  <div class="background-image">
    <div class="code-animation">
      <p style="font-size: 40px; margin-bottom: 0;" >Juan Guerra</p>
      <span class="bracket">{{'{"'}}</span>
      <span >{{ animatedText }}</span>
      <span class="bracket">{{'"}'}}</span>
      <span class="bar-animation"></span>
    </div>
  </div>
  <div class="profile-picture"></div>
  
  <p class="p" >// Soy Desarrollador fullstack, profesional universitario en Ingeniería de Sistemas.
    <br>Me considero una persona autodidacta que permanece en constante aprendizaje,
    <br>creciendo tanto personal como profesionalmente.
     //
  </p>
  <button routerLink="/perfil" >{{"<"}}Ver Perfil{{'>'}}</button>
  
</div>
