.navbar-nav {
    flex-direction: row;
  }
  
  .navbar-nav li {
    margin-right: 10px;
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @font-face {
    font-family: 'VERDANAB';
    src: url('./assets/fonts/VERDANAB.TTF') format('truetype');
  }
  
  body {
    font-family: 'VERDANAB', sans-serif;
    background-color: #1c1c1c;
  }