footer {
    padding: 20px 0 0 30px;
    background-color: rgba(240, 248, 255, 0.827);
  }
  
  h2 {
    color: black;
    margin: 0;
  }
  p{
    margin-top: 20px;
  }

  a{
    text-decoration: none;
    color: black;
  }
  
  .icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    text-align: center;
    margin: 20px 50px;
  }
  
  .icon img {
    max-width: 90px;
  }
  
  .icon span {
    font-size: 12px; 
    display: block; 
  }
  
  