
<footer>
    <div>
        <h2>Contacto</h2>
        <p>Conctactame por alguno de estos medios:</p>
    </div>
    <div class="icon-list">
        <div class="icon">
            <img src="../../../assets/logos/gmail.png" alt="Gmail">
            <span>Gmail</span>
        </div>
        <div class="icon">
            <img src="../../../assets/logos/linkedin.png" alt="LinkedIn">
            <span>LinkedIn</span>
        </div>
        <div class="icon">
            <img src="../../../assets/logos/whatsapp.png" alt="WhatsApp">
            <span>WhatsApp</span>
        </div>
        <div class="icon">
            <img src="../../../assets/logos/git.png" alt="GitHub">
            <span>GitHub</span>
        </div>
    </div>
</footer>

