
<footer>
    <div>
        <h2>Contacto</h2>
        <p>Conctactame por alguno de estos medios:</p>
    </div>
    <div class="icon-list">
        <div class="icon">
            <a href="mailto:juansebastian2014.jsga@gmail.com" target="_blank">
                <img src="../../../assets/logos/gmail.png" alt="Gmail">
                <span>Gmail</span>
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/juan-guerra-6b927b238/" target="_blank">
                <img src="../../../assets/logos/linkedin.png" alt="LinkedIn">
                <span>LinkedIn</span>
            </a>
        </div>
        <div class="icon">
            <a href="https://api.whatsapp.com/send?phone=3023285467&text=Hola%20Juan,%20Vengo%20desde%20tu%20portafolio%20y%20me%20gustaría%20contactar%20con%20usted,%20Saludos!" target="_blank">
                <img src="../../../assets/logos/whatsapp.png" alt="WhatsApp">
                <span>WhatsApp</span>
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/JuanGuerra02" target="_blank">
                <img src="../../../assets/logos/git.png" alt="GitHub">
                <span>GitHub</span>
            </a>
        </div>
    </div>
</footer>

